<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title><%- title %></title>
  <%- include("components/clarity.ejs") %>
</head>

<body>
  <div style="margin: 0 0 0 10em; height: 90%;">
    <h1><%- title %></h1>
    <fluent-web-container>
      <%- include('components/menu.ejs') %>
        <%- include('components/main-content.ejs') %>
    </fluent-web-container>
  </div>

  <script>
    var FLUENT = {
      noPrefix: false,
      enableCode: true,
      enableRouter: true,
      enableIcons: true,
    };
  </script>
</body>

</html>